$placeholder-color: $color-secondary;
$icon-color: $color-secondary;
$icon-horizontal-offset: 0.8em;
$icon-vertical-offset: 0.85em;

input::-webkit-input-placeholder {
  color: $placeholder-color !important;
}

input:-moz-placeholder {
  color: $placeholder-color !important;
}

input::-moz-placeholder {
  color: $placeholder-color !important;
}

input:-ms-input-placeholder {
  color: $placeholder-color !important;
}

.icon-input {
  position: relative;
}

.icon-input i {
  color: $icon-color;
  position: absolute;
  left: $icon-horizontal-offset;
  top: $icon-vertical-offset;

  @include transition(color 0.2s ease-in-out);
}

.icon-input.icon-input--append i {
  right: $icon-horizontal-offset;
}

.icon-input input {
  padding-left: $icon-horizontal-offset + 2em;
}


textarea::-webkit-input-placeholder {
  color: $placeholder-color !important;
}

textarea:-moz-placeholder {
  color: $placeholder-color !important;
}

textarea::-moz-placeholder {
  color: $placeholder-color !important;
}

textarea:-ms-input-placeholder {
  color: $placeholder-color !important;
}

textarea::placeholder {
  color: $placeholder-color !important;  
}

textarea {
  resize: none;
}