$utility-font-family-secondary: $font-familiy-secondary;

.u-font-secondary {
    font-family: $utility-font-family-secondary;
}

.u-font-size-0 {
    font-size: 100%;
}

.u-font-size-1 {
    font-size: 120%;
}

.u-font-size-2 {
    font-size: 150%;
}

.u-font-size-3 {
    font-size: 200%;
}

.u-font-size-4 {
    font-size: 300%;
}

.u-font-size-s-1 {
    font-size: 80%;
}

.u-font-size-s-2 {
    font-size: 60%;
}

.u-font-size-s-1 {
    font-size: 40%;
}