$color-main: #1a73e8;
$color-secondary: #cccccc;

$color-dark-main: #1b262c;
$color-dark-secodary: #6c757d;

$color-reverse: #ffffff;

$color-bg-main: #f8f9fa;
$color-bg-secondary: #f1f3f5;

$color-accent-main: #bb6bd9;
$color-accent-positive: #6acca4;
$color-accent-negative: #ff4560;